.button{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.primary-bg-color{
    background-color: #d84fa1;
}
.primary-color{
    color: #d84fa1;
}
.undecor{
    text-decoration: none;
}
.img-center{
    margin: auto;
}
.otp-form{
    border: none;
    height:50px;
}
.img-profile{
    width: 100px; height: 100px; border-radius: 20px;
}
.img-icon{
    width: 80px; height: 80px; border-radius: 20px;
}